.notes__title {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.notes__display {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.notes__card {
	width: 20rem;
	min-height: 20rem;
	background-color: var(--color-black);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notes__card-title {
	color: var(--color-yellow);
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;

}

.notes__card-detail {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	margin: 1rem 0;
	color: var(--color-white);
}

.notes__card-date {
	border-top: 1px solid var(--color-gray);
	padding-top: 0.5rem;
	color: var(--color-yellow);
	font-size: 0.75rem;
}

.notes__card-date span {
	color: var(--color-gray);
}
